<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script>
  const mapToken="<%=process.env.MAP_TOKEN%>"
  const listing=<%- JSON.stringify(listing) %>;
</script>

<style>
.stay-selector {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.stay-selector label {
    margin-bottom: 5px;
}
.stay-selector input {
    margin-bottom: 10px;
}
.price-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.price-details .price-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.price-details .price-item span {
    font-weight: bold;
}
.total-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
#payButton:hover {
    background-color: #eff2f5;
}
#map {
  width: 100%;
  height: 400px; /* Default height for larger screens */
}

@media (max-width: 768px) {
  #map {
    height: 300px; /* Adjust height for tablets */
  }
}

@media (max-width: 576px) {
  #map {
    height: 200px; /* Adjust height for phones */
  }
}
</style>

<div class="row mt-4" data-listing-id="<%= listing._id %>" data-listing-price="<%= listing.price %>">
    <div class="col-8 offset-3">
        <h3><%= listing.title %></h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img class="card-img-top show-img" src="<%= listing.image.url %>" alt="listing_image">
        <div class="card-body">
          <p class="card-text">Owned By: <i><%= listing.owner.username %></i></p>
          
          <p class="card-text"><%= listing.description  %> </p>
          <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
          <p class="card-text"><%= listing.location %></p>
          <p class="card-text"><%= listing.country %> </p>
          <p class="card-text"><%= listing.category %> </p>
          <br>
        </div>
      </div>
<br>

<% if(currUser && listing.owner._id.equals(currUser._id)){ %>
  <div class="btns">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" ><button class="btn btn-dark offset-5 ">Delete</button></form>
  </div>
<% } else {%>
  <div class="col-6 offset-3 mb-3">
    <h4>Book this Property Now:</h4>
    <br>
    <div class="stay-selector">
        <label for="startDate">Start Date:</label>
        <input type="text" id="startDate" placeholder="Select start date" class="col-3" readonly>

        <label for="endDate">End Date:</label>
        <input type="text" id="endDate" placeholder="Select end date" class="col-3" readonly>
    </div>
    <div class="price-details">
        <div class="price-item">
            <span>Base Price:</span>
            &#8377;<span id="basePrice">0.00</span>
        </div>
        <div class="price-item">
            <span>GST (18%):</span>
            &#8377;<span id="gstAmount">0.00</span>
        </div>
        <div class="price-item total-price">
            <span>Total Price:</span>
            &#8377;<span id="totalPrice">0.00</span>
        </div>
    </div>
    <br>
    <div id="payButton" class="total-price">
      <form id="bookingForm" action="/listing/bookings" method="POST">
          <input type="hidden" name="listingId" value="<%= listing._id %>">
          <input type="hidden" name="startDate" id="hiddenStartDate">
          <input type="hidden" name="endDate" id="hiddenEndDate">
          <input type="hidden" name="totalPrice" id="hiddenTotalPrice">
          <button type="submit" class="btn btn-dark col-3 offset-9 edit-btn">Book Now</button>
      </form>
    </div>
    
  </div>
<% } %>

  <div class="col-8 offset-3 mb-3">
      

    <% if(currUser){ %>
      <hr>
      <h4>Leave a Review</h4>
      <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea name="review[comment]" id="comment" cols="30" rows="10" class="form-control" required></textarea>
          <div class="invalid-feedback">Please add some comments for review</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
    <% } %>

      <% if(listing.reviews.length>0){ %>
        <div class="row">
          <p><b>All Reviews</b></p>
          <% for(review of listing.reviews){ %>
            <div class="card col-5 ms-3 mb-3">
              <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="card-text"><%= review.rating %> stars</p>
                
              </div>
              <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button class="btn btnsm btn-dark">Delete</button>
              </form>
            </div>
          <% } %>
        </div>
      <% } %>
    
  </div>
  <div class="col-6 offset-3 mb-3">
    <h3>Where you'll be</h3>
    <div id="map"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/show.js"></script>
<script src="/js/mapBeforeBooking.js"></script>